<%- include ('templates/cabecera.ejs', {tituloWeb : 'INICI' }) %>


    <h1 class="text-primary">Titulo de mi pagina con EJS</h1>
    <h2>
        <%= titulo %>
    </h2>

    <%- include ('templates/footer.ejs') %>